html
<!DOCTYPE html>
<html>
<head>
    <title>Мой сайт</title>
    <!-- подключение стилей и скриптов -->
</head>
<body>
    <header>
        <p>Привет мир</p>
    </header>

    <main>
        <!-- содержимое страницы будет вставлено здесь -->
        <%- body %>
    </main>

    <footer>
        <!-- общая информация в подвале сайта -->
    </footer>
</body>
</html>