<%- include('./top.ejs')%>            
            <div class="container py-5 px-2 bg-primary">
                <div class="row py-5 px-4">
                    <div class="col-sm-6 text-center text-md-left">
                        <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Мои сайты</h1>
                    </div>
                    <div class="col-sm-6 text-center text-md-right">
                        <div class="d-inline-flex pt-2">
                            <h4 class="m-0 text-white"><a class="text-white"
                                    href="http://127.0.0.1:5500/st-st/index.html">Главная страница</a></h4>
                            <h4 class="m-0 text-white px-2">/</h4>
                            <h4 class="m-0 text-white">Мои сайты</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5 px-2 bg-white">
                <div class="row px-4">
                    <div class="container bg-white pt-5">
                        <div class="row blog-item px-3 pb-5">
                            <div class="col-md-5">
                                <img class="img-fluid mb-4 mb-md-0" src="img/blog-1.jpg" alt="Image">
                            </div>
                            <div class="col-md-7">
                                <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">Фитнес-сайт</h3>
                                <div class="d-flex mb-3">
                                    <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>08.06.2023 </small>
                                </div>
                                <p>
                                    Сайт для записи к фитнес-тренеру
                                </p>
                                <a class="btn btn-link p-0" href="http://127.0.0.1:5501/st-st/index.html">Ссылка на сайт <i
                                        class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container bg-white pt-5">
                <div class="row blog-item px-3 pb-5">
                    <div class="col-md-5">
                        <img class="img-fluid mb-4 mb-md-0" src="img/blog-2.jpg" alt="Image">
                    </div>
                    <div class="col-md-7">
                        <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">Космос-сайт</h3>
                        <div class="d-flex mb-3">
                            <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>01.06.2023 </small>
                        </div>
                        <p>
                           Сайт с информацией о Солнечной системе.
                        </p>
                        <a class="btn btn-link p-0" href="http://127.0.0.1:5501/st-st/index.html">Ссылка на сайт <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="container bg-white pt-5">
                <div class="row blog-item px-3 pb-5">
                    <div class="col-md-5">
                        <img class="img-fluid mb-4 mb-md-0" src="img/blog-4.jpg" alt="Image">
                    </div>
                    <div class="col-md-7">
                        <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">Сайт-калькулятор</h3>
                        <div class="d-flex mb-3">
                            <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>26.01.2023 </small>
                        </div>
                        <p>
                           Онлайн калькулятор
                        </p>
                        <a class="btn btn-link p-0" href="http://127.0.0.1:5501/index.html">Ссылка на сайт <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            

                <!-- Blog Detail End -->
<%- include('./bottom.ejs')%>